# 3rd party scrapers
FIRECRAWL_API_KEY=
PARALLEL_API_KEY=

# azure
AZURE_DOC_INTEL_ENDPOINT="https://instanceXXX.cognitiveservices.azure.com/"
AZURE_DOC_INTEL_KEY=
AZURE_DOC_INTEL_MODEL_ID="prebuilt-layout"

# docker
DATABASE_URL=""

REPO_PROMPT_KEY=
